<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_Mobile_Lena"
        tools:targetApi="31">
        <activity
            android:name=".Account_section.orderDetail"
            android:exported="false" />
        <activity
            android:name=".Account_section.orderHistoryItem"
            android:exported="false" />
        <activity
            android:name=".Account_section.orderHistory"
            android:exported="false" />
        <activity
            android:name=".Account_section.accountInformation"
            android:exported="false" />
        <activity
            android:name=".Account_section.changePassword"
            android:exported="false" />
        <activity
            android:name=".QRScanActivity"
            android:exported="false" />
        <activity
            android:name=".Payment_section.finishPayment"
            android:exported="false" />
        <activity
            android:name=".Account_section.account_setting"
            android:exported="false" />
        <activity
            android:name=".Account_section.RegisterPage"
            android:exported="false" />
        <activity
            android:name=".Account_section.LoginPage"
            android:exported="false" />
        <activity
            android:name=".Account_section.pre_login"
            android:exported="false"
            android:label="@string/title_activity_pre_login"
            android:theme="@style/Theme.App_Mobile_Lena" />
        <activity android:name=".ProductDetail_section.ProductDetailActivity" />
        <activity android:name=".Cart_section.CartActivity" />
        <activity android:name=".Payment_section.PaymentActivity" />
        <activity android:name=".Cart_section.CouponActivity" />
        <activity android:name=".Account_section.ForgetPasswordActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>